from collections import Counter
  
test_str = "Naveetha banu"
  

res = Counter(test_str)
  
print ("Count of all characters in GeeksforGeeks is :\n "
                                           +  str(res))
